/* Styles for link */
.link {
    appearance: none;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    cursor: pointer;
    color: #fff;
    background-color: var(--primary-500);
    transition: background-color 0.3s ease;
    outline: none;
    text-align: center;
    width: auto;
    height: auto;
    display: inline-block;
}

/* Styles for link hover */
.link:hover {
    background-color: var(--primary-600);
}

.link:active{
    background: var(--primary-700);
}

/* Styles for button */
.button {

}

/* Styles for button hover */
.button:hover {
    background-color: #2d3748;
}
