.searchBar {
    width: 100%;
    padding: 10px 15px;
    font-size: 20px;
    outline: none;
    border-radius: 15px;
    border: 1px solid var(--primary-100);
    box-shadow: 0 2px 0px 1px var(--primary-100);
    transition: .2s ease box-shadow, .2s ease transform;
}

.searchBar:focus {
    outline: none;
    transform: translateY(-3px);
    box-shadow: 0 5px 0px 1px var(--primary-200);
}